html,
body {
    margin: 0;
    height: 100%;
}

p {
    font-family: "Roboto";
    position: relative;
    color: #DDDDDD;
    height: 30px;
    margin: auto;
    align-items: center;
    text-align: center;
    top: 5%;
    font-size: 1.3rem;
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
}

#loading-screen {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    transition: 1s opacity;
    text-align: center;
}

#loading-screen.fade-in {
    opacity: 1;
}

#loading-screen.fade-out {
    opacity: 0;
}

#startBtn.fade-out {
    opacity: 0;
}

#startBtn {
    position: absolute;
    text-align: center;
    height: 40px;
    width: 200px;
    margin-left: -100px;
    top: 80%;
}


#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#controls {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#controls-hud.fade-in {
    opacity: 1;
}

#controls-hud.fade-out {
    opacity: 0;
}

#HUDCamera {
    position: absolute;
    opacity: 1;
    margin-top: 15px;
}

/* GUI Style */
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-left: 10px;
}

#console {
    position: absolute;
    /* max-height: 125px; */
    /* max-width: 50vw; */
    /* width: 50vw; */
    /* right: 30px; */
    bottom: 10px;
    left: 30px;
    z-index: 1000;
    background-color: #010020a8;
    overflow-y: scroll;
    border-radius: 10px;
}

#console-messages {
    white-space: pre-line;
    font-family: monospace;
    color: #0f0;
    font-size: large;
}

/* #console-container {
    height: 100%;
    width: 100%;
} */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #d6dee1;
    border: 4px solid transparent;
    background-clip: content-box;
    height: 3em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}